{% extends "base.html" %}

{% block tittel %}Sør-Amerika{% endblock %}

{% block innhold %}
  <div class="ingress-blokk">
    <h1>Sør-Amerika</h1>
    <p class="ingress">Reisebrev fra Isak og Ingrid, fire måneder sørover.</p>
  </div>

  {# Løkka er grunnen til at vi vil ha en template-motor: antall poster er ukjent
     når fila skrives. #}
  <div class="postliste">
    {% for post in poster %}
      <article class="postkort">
        <h2><a href="/post/{{ post.slug }}">{{ post.tittel }}</a></h2>
        <p class="meta">
          <time datetime="{{ post.dato }}">{{ post.dato_lesbar }}</time>
          · {{ post.forfatter }}
        </p>
        <p class="sammendrag">{{ post.sammendrag }}</p>
        <a class="les-mer" href="/post/{{ post.slug }}">Les videre</a>
      </article>
    {% else %}
      <p>Ingen innlegg ennå.</p>
    {% endfor %}
  </div>
{% endblock %}
